APScheduler==3.6.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
Flask==1.1.1
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
misaka==2.1.1
psycopg2==2.8.3
pycparser==2.19
pytz==2019.2
requests==2.22.0
six==1.12.0
tzlocal==2.0.0
urllib3==1.25.8
Werkzeug==0.15.5
